html, body{
    width: 100%;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    user-select:none;
}

.mdc-toolbar a {
    color: #F0F0F0;
    text-decoration: none;
}

.mdc-list-item{
    cursor: pointer;
}

.container {
}

.surface{
    position: relative;
  border-radius: 2px;
  text-align: center;
  /* Indicate to user element is interactive. */
  cursor: pointer;
}